<div id="<%= dom_id distributor %>">
  <p>
    <strong>Distributor name:</strong>
    <%= distributor.distributor_name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= distributor.address %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= distributor.telephone %>
  </p>

</div>
