<% provide(:title, "Edit #{@distributor.distributor_name}") %>

<%= render 'distributors/sidebar' %>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" data-turbo="false">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Editing <%= @distributor.distributor_name %></h1>
        <%= link_to "<<< Back to Distributors", distributors_path, class: "btn btn-outline-primary" %>
      </div>

      <%= render "form", distributor: @distributor %>

    </main>
  </div>
</div>


